/* FUENTES */

@font-face {
    font-family: 'roboto_condensedbold';
    src: url('/sweethomesw/fonts/RobotoCondensed-Bold-webfont.eot');
    src: url('/sweethomesw/fonts/RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sweethomesw/fonts/RobotoCondensed-Bold-webfont.woff2') format('woff2'),
         url('/sweethomesw/fonts/RobotoCondensed-Bold-webfont.woff') format('woff'),
         url('/sweethomesw/fonts/RobotoCondensed-Bold-webfont.ttf') format('truetype'),
         url('/sweethomesw/fonts/RobotoCondensed-Bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condenseditalic';
    src: url('/sweethomesw/fonts/RobotoCondensed-Italic-webfont.eot');
    src: url('/sweethomesw/fonts/RobotoCondensed-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sweethomesw/fonts//sweethomesw/fonts/RobotoCondensed-Italic-webfont.woff2') format('woff2'),
         url('/sweethomesw/fonts/RobotoCondensed-Italic-webfont.woff') format('woff'),
         url('/sweethomesw/fonts/RobotoCondensed-Italic-webfont.ttf') format('truetype'),
         url('/sweethomesw/fonts/RobotoCondensed-Italic-webfont.svg#roboto_condenseditalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedlight';
    src: url('/sweethomesw/fonts/RobotoCondensed-Light-webfont.eot');
    src: url('/sweethomesw/fonts/RobotoCondensed-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sweethomesw/fonts/RobotoCondensed-Light-webfont.woff2') format('woff2'),
         url('/sweethomesw/fonts/RobotoCondensed-Light-webfont.woff') format('woff'),
         url('/sweethomesw/fonts/RobotoCondensed-Light-webfont.ttf') format('truetype'),
         url('/sweethomesw/fonts/RobotoCondensed-Light-webfont.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedlight_italic';
    src: url('/sweethomesw/fonts/RobotoCondensed-LightItalic-webfont.eot');
    src: url('/sweethomesw/fonts/RobotoCondensed-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sweethomesw/fonts/RobotoCondensed-LightItalic-webfont.woff2') format('woff2'),
         url('/sweethomesw/fonts/RobotoCondensed-LightItalic-webfont.woff') format('woff'),
         url('/sweethomesw/fonts/RobotoCondensed-LightItalic-webfont.ttf') format('truetype'),
         url('/sweethomesw/fonts/RobotoCondensed-LightItalic-webfont.svg#roboto_condensedlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedregular';
    src: url('/sweethomesw/fonts/RobotoCondensed-Regular-webfont.eot');
    src: url('/sweethomesw/fonts/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sweethomesw/fonts/RobotoCondensed-Regular-webfont.woff2') format('woff2'),
         url('/sweethomesw/fonts/RobotoCondensed-Regular-webfont.woff') format('woff'),
         url('/sweethomesw/fonts/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
         url('/sweethomesw/fonts/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* TAGS */

a{
    text-decoration: none;
    color: black;
}

body{
    background-color: #c5cae9;
    font-family: 'roboto_condensedlight';
    font-size: 1.17em;
}

button{
    margin: 0px;
    padding: 0px;
}

h1{
    padding: 0px;
    margin: 0px;
    font-family: 'roboto_condensedlight';
}

h2{
    padding: 0px;
    margin: 0px;
    font-family: 'roboto_condensedlight';   
}

h3{
    padding: 0px;
    margin: 0px;
    font-family: 'roboto_condensedlight';
}

h4{
    padding: 0px;
    margin: 0px;
    font-family: 'roboto_condensedlight';
}

h4 a{
    color: #3f51b5;
}

h5{
    padding: 0px;
    margin: 0px;
    font-family: 'roboto_condensedlight';
    text-align: center;
}

h5 a{
    color: #3f51b5;
}

header{
    background-color: #3f51b5;
}

header h1{
    color: white;
    font-weight: bold;
    font-size: 2em;
}

input{
    margin: 0px;
    padding: 0px;
    font-size: 1.17em;
}

table{
    width: 100%;
    border-spacing: 0px;
}

/* IDS */

#buttonBottom button{
    width: inherit;
    margin: 0px;
    border: none;
}

#confirmButtons{
    text-align: center;
    padding: 0px;
}

div#confirmButtonLeft{
    width: 50%;
    float: left;
}

#confirmButtonLeft button{
    background-color: #ff5252;
    border: none;
}


div#confirmButtonRight{
    width: 50%;
    background-color: #d50000;
    float: right;
    border: none;
}

#confirmButtonRight button{
    background-color: #d50000;
    border: none;
}

#content tr{
    width: 100%;
    display: block;
}

#contentConfig{
     -webkit-transition: height 0.5s ease;
       -moz-transition: height 0.5s ease;
         -o-transition: height 0.5s ease;
        -ms-transition: height 0.5s ease;
            transition: height 0.5s ease;
}

#contentInput input{
    background-color: white;
}

#fotoHeader{
    text-align: right;
}

#infoHeader{
    text-align: right;
}

#logoHeader{
    text-align: center;
}

#logoHeader100{
    text-align: center;
}

#menuinf{
    background-color: #3f51b5;
}

#fotousuario{
    height: 50px;
    width: 50px;
    text-align: right;
    border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    overflow: hidden;
}

#fotousuario img{
    text-align: right;
    height: 100%;
    overflow: hidden;
}

#menuinf td{
    text-align: center;
}

#messagePhoto{
    padding-left: 10px;
}

#messageDate{
    height: auto;
}

#originalmessage{
    width: 100%;
    padding: 0px;
    padding-top: 0px;
    padding-left: 0px;
    margin: 0px;
}

#originalmessBottom{
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#userData{
    margin-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    text-align: center;
}

#userData img{
    width: 6em;
    border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    overflow: hidden;
}

/* CLASES */

.aboutLine{
    width: 100%;
    margin: 10%;
    padding: 0px;
    height: 100%;
    color: #3f51b5;
}

.aboutText{
    width: 85%;
    margin: 10%;
    padding: 0px;
    height: 100%;
    color: #3f51b5;
    font-size: 15px; 
}

.buttonAction{
    background-color: #d50000;
    border: none;
    color: white;
    width: 100%;    /* Necesario... Encerrar en un div para limitar tamaños */
}

.buttonActionAdd{
    background-color: #FF5252;
    border: none;
    color: white;
    width: 100%;
}

.buttonDarkBlue{
    background-color: #3F51B5;
    color: white;
    border: 0px;
}

.buttonDarkBlue a{
    color: white;
}

.buttonNormal{
    background-color: #C5CAE9;
    border: none;
    color: white;
    width: 100%;    /* Necesario... Encerrar en un div para limitar tamaños */
}

.buttonTransparent{
    background-color: transparent;
    border: 0px;
}

.buttonTransparent a{
    color: black;
}

.buttonTrash{
    max-width: 35px;
    margin-right: 20px;
}

.configMenu input[type="text"], .configMenu input[type="password"]{
    background-color: white;
}

.configMenu li img{
    vertical-align: middle;
}

.configMenuOpen input[type="text"], .configMenuOpen input[type="password"]{
    background-color: white;
}

.configMenuOpen li img{
    vertical-align: middle;
}

.configMenuOpen ul {
    list-style-type: none;
    overflow: hidden;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2px;
    height: 225px;
    margin: 0;

    /*Animacion menu*/
    -webkit-transition: height 0.5s ease;
       -moz-transition: height 0.5s ease;
         -o-transition: height 0.5s ease;
        -ms-transition: height 0.5s ease;
            transition: height 0.5s ease; 
}

.configMenu ul {
    list-style-type: none;
    overflow: hidden;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2px;
    height: 0px;
    margin: 0;

    /*Animacion menu*/
    -webkit-transition: height 0.5s ease;
       -moz-transition: height 0.5s ease;
         -o-transition: height 0.5s ease;
        -ms-transition: height 0.5s ease;
            transition: height 0.5s ease; 
}

.dataInput{ /* texto + entrada */
    color: black;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
}

.dataInput textarea{
    font-size: 1.17em;
    font-family: 'roboto_condensedregular';
}

.dataInput input[type="text"]{
    font-size: 1.17em;
    font-family: 'roboto_condensedregular';
    background-color: white;
}

.dataInput input[type="password"]{
    background-color: white;
}

.elevated{
    font-size: 15px;
    vertical-align:super;
}

.elevatedreducido{
    font-size: 10px;
    vertical-align:super;
}

.expenseMenu{
    border-bottom: 2px solid #3f51b5;
}

.expenseMenu li{
    padding: 2px;
}

.expenseMenu li img{
    vertical-align: middle;
}

.expenseMenu ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    height: 0px;
    margin: 0;

    /*Animacion menu*/
    -webkit-transition: height 0.5s ease;
       -moz-transition: height 0.5s ease;
         -o-transition: height 0.5s ease;
        -ms-transition: height 0.5s ease;
            transition: height 0.5s ease; 
}

.expenseMenuOpen{
    border-bottom: 2px solid #3f51b5;
}

.expenseMenuOpen li{
    padding: 2px;
}

.expenseMenuOpen li img{
    vertical-align: middle;
}

.expenseMenuOpen ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    height: 232px;
    margin: 0;

    /*Animacion menu*/
    -webkit-transition: height 0.5s ease;
       -moz-transition: height 0.5s ease;
         -o-transition: height 0.5s ease;
        -ms-transition: height 0.5s ease;
            transition: height 0.5s ease; 
}

.indicator{
    background-color: #7986CB;
    text-align: center;
    color: white;
}

#logoInicio{
    text-align: center;
    height: 38%;
}

#logoAbout{
    text-align: center;
    height: 20%;
}

.menubutton{
    max-width: 35px;
}

.negrita{
    font-family: 'roboto_condensedregular';
}

.photoInput button{
    background-color: #c5cae9;
    border: none;
}

.photoInput img{
    width: 6em;
    height: 6em;
    overflow: hidden;
}

.rowBordered{
    width: 100%;
    margin: 0px;
    padding: 5px;
    border-bottom: 2px solid #3f51b5;
}

.rowDate{
    vertical-align: middle;
    text-align: right;
    width: auto;
    padding-right: 1em;
}

.rowIcon{
    width: 10%;
}

.rowNormal{
    width: 100%;
    margin: 0px;
    padding: 5px;
}

.rowPhoto{
    width: 50px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 10px;
    height: 50px;
    overflow: hidden;
}

.rowPhoto img{
    height: 100%;
     border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    overflow: hidden;
}

img.rowPhoto{
     border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    overflow: hidden;
}

.rowPhotoSmall{
    width: 30px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 10px;
    height: 30px;
    overflow: hidden;
}

.rowPhotoSmall img{
    height: 30px;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    overflow: hidden;
}

.rowText{
    width: 100%;
    vertical-align:middle;
    padding-left: 15px;
    padding-right: 15px;
}

.rowText a{
    text-decoration: none;
    color: black;
}

.sendbutton{
    width: auto;
    text-align: right;
    border-spacing: 0px;
}

.sendtext{
    width: 100%;
    float: left;
    border-spacing: 0px;
    background-color: white;
    padding: 0px;
}

.sendtext input{
    font-size: 1.17em;
}

.submitbutton button{
    background-color: #d50000;
    border: none;
    margin-top: 1em;
    color: white;
     border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    overflow: hidden;
}

.whitefont{
    color: white;
}

/* MOVIL */
@media screen and (max-width: 700px){
    #contentBottom{
        text-align: center;
    }
    
    #contentBottomLeft{
        background:#FF5252;
        text-align: center;
    }

    #contentBottomRight{
        background:#d50000;
        text-align: center;
    }
    
    #contentConfig button{
        width: 100%;
    }
}

/* TABLET Y PC */
@media screen and (min-width: 700px){
    #contentBottom{
        text-align: center;
        background-color: #c5cae9;
    }
    
    #contentBottom button{
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
    }

    #contentBottomLeft{
        background:#FF5252;
        text-align: center;
        border-radius: 10px 0px 0px 10px;
        -moz-border-radius: 10px 0px 0px 10px;
        -webkit-border-radius: 10px 0px 0px 10px;
    }

    #contentBottomRight{
        background:#d50000;
        text-align: center;
        border-radius: 0px 10px 10px 0px;
        -moz-border-radius: 0px 10px 10px 0px;
        -webkit-border-radius: 0px 10px 10px 0px;
    }
    
    #contentConfig button{
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
    }
}