@font-face {
    font-family: 'roboto_condensedbold';
    src: url('/sweethomesw/fonts/RobotoCondensed-Bold-webfont.eot');
    src: url('/sweethomesw/fonts/RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sweethomesw/fonts/RobotoCondensed-Bold-webfont.woff2') format('woff2'),
         url('/sweethomesw/fonts/RobotoCondensed-Bold-webfont.woff') format('woff'),
         url('/sweethomesw/fonts/RobotoCondensed-Bold-webfont.ttf') format('truetype'),
         url('/sweethomesw/fonts/RobotoCondensed-Bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedbold_italic';
    src: url('/sweethomesw/fonts/RobotoCondensed-BoldItalic-webfont.eot');
    src: url('/sweethomesw/fonts/RobotoCondensed-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sweethomesw/fonts/RobotoCondensed-BoldItalic-webfont.woff2') format('woff2'),
         url('/sweethomesw/fonts/RobotoCondensed-BoldItalic-webfont.woff') format('woff'),
         url('/sweethomesw/fonts/RobotoCondensed-BoldItalic-webfont.ttf') format('truetype'),
         url('/sweethomesw/fonts/RobotoCondensed-BoldItalic-webfont.svg#roboto_condensedbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condenseditalic';
    src: url('/sweethomesw/fonts/RobotoCondensed-Italic-webfont.eot');
    src: url('/sweethomesw/fonts/RobotoCondensed-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sweethomesw/fonts//sweethomesw/fonts/RobotoCondensed-Italic-webfont.woff2') format('woff2'),
         url('/sweethomesw/fonts/RobotoCondensed-Italic-webfont.woff') format('woff'),
         url('/sweethomesw/fonts/RobotoCondensed-Italic-webfont.ttf') format('truetype'),
         url('/sweethomesw/fonts/RobotoCondensed-Italic-webfont.svg#roboto_condenseditalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedlight';
    src: url('/sweethomesw/fonts/RobotoCondensed-Light-webfont.eot');
    src: url('/sweethomesw/fonts/RobotoCondensed-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sweethomesw/fonts/RobotoCondensed-Light-webfont.woff2') format('woff2'),
         url('/sweethomesw/fonts/RobotoCondensed-Light-webfont.woff') format('woff'),
         url('/sweethomesw/fonts/RobotoCondensed-Light-webfont.ttf') format('truetype'),
         url('/sweethomesw/fonts/RobotoCondensed-Light-webfont.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedlight_italic';
    src: url('/sweethomesw/fonts/RobotoCondensed-LightItalic-webfont.eot');
    src: url('/sweethomesw/fonts/RobotoCondensed-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sweethomesw/fonts/RobotoCondensed-LightItalic-webfont.woff2') format('woff2'),
         url('/sweethomesw/fonts/RobotoCondensed-LightItalic-webfont.woff') format('woff'),
         url('/sweethomesw/fonts/RobotoCondensed-LightItalic-webfont.ttf') format('truetype'),
         url('/sweethomesw/fonts/RobotoCondensed-LightItalic-webfont.svg#roboto_condensedlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedregular';
    src: url('/sweethomesw/fonts/RobotoCondensed-Regular-webfont.eot');
    src: url('/sweethomesw/fonts/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sweethomesw/fonts/RobotoCondensed-Regular-webfont.woff2') format('woff2'),
         url('/sweethomesw/fonts/RobotoCondensed-Regular-webfont.woff') format('woff'),
         url('/sweethomesw/fonts/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
         url('/sweethomesw/fonts/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* PARTES */

body{
    font-family: 'roboto_condensedlight';
    font-size: 1.17em;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

header{
    padding: 5px;
    margin: 0px;
    width: 100%;
    background-color: #3f51b5;
}

footer{
    padding: 0px;
    margin: 0px;
    
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}
/* TAGS GENÉRICOS */

h1{
    padding: 0px;
    margin: 0px;
    font-family: 'roboto_condensedlight';
}

h2{
    padding: 0px;
    margin: 0px;
    font-family: 'roboto_condensedlight';   
}

h3{
    padding: 0px;
    margin: 0px;
    font-family: 'roboto_condensedlight';
}

h4{
    padding: 0px;
    margin: 0px;
    font-family: 'roboto_condensedlight';
}

button{
    margin: 0px;
    padding: 0px;
}

input{
    margin: 0px;
    padding: 0px;
    font-size: 1.17em;
}

/* COMBINACIONES DE TAGS */

header h1{
    color: white;
    font-weight: bold;
    font-size: 2em;
}

/* IDS */

#logo{
    margin-left: 5px;
    text-align: center;
    float: left;
}

#logoLogIn{
    margin-left: 5px;
    width: 100%;
    text-align: center;
}

#foto{
    width: 50px;
    text-align: center;
    float: right;
    background-color: white;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 10px;
    height: 50px;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    overflow: hidden;
}

#fotousuario{
    height: 100%;
    overflow: hidden;
}

#elevated{
    font-size: 15px;
    vertical-align:super;
}

#menuinf{
    width: 100%;
    background-color: #3f51b5;
    margin: 0px;
    padding: 5px;
}

#menuinf td{
    text-align: center;
}

#content{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

#contentLogIn{
    padding: 3em;
    margin: 0px;
    
    height: auto;
    vertical-align: middle;
}

#contentLogIn input{
    background-color: white;
}

.submitbutton button{
    background-color: #d50000;
    border: none;
    margin-top: 1em;
    color: white;
}

#limpiaHome{
    width: inherit;
    border-spacing: 0px;
}

#limpiaHome button{
    width: inherit;
    margin: 0px;
    border: none;
}

#addButton{
    width: inherit;
}

#addButton button{
    width: inherit;
}

/* CLASES */

.tabla{
    width: 100%;
    border-spacing: 0px;
}

.buttonNormal{
    background-color: #C5CAE9;
    border: none;
    color: white;
    width: 100%;    /* Necesario... Encerrar en un div para limitar tamaños */
}

.buttonAction{
    background-color: #d50000;
    border: none;
    color: white;
    width: 100%;    /* Necesario... Encerrar en un div para limitar tamaños */
}

.buttonAzulOscuro{
    background-color: #303F9F;
    color: white;
    border: 0px;
}

.menubutton{
    max-width: 35px;
}

.entradaLogIn{
    color: black;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
}

.blueBackground{
    background-color: #c5cae9;
}

.registro{
    width: 100%;
    margin: 0px;
    padding: 0px;
    float: left;
}

.registroTablon{
    width: 100%;
    margin: 0px;
    padding: 5px;
    float: left;
    border-bottom: 2px solid #3f51b5;
}

.registroFoto{
    width: 50px;
    text-align: center;
    background-color: white;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 10px;
    height: 50px;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    overflow: hidden;
    float: inherit;
}

.registroFoto img{
    height: 100%;
    overflow: hidden;
}

.registroFotoPequena{
    width: 30px;
    text-align: center;
    /*background-color: white;*/
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 10px;
    height: 30px;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    overflow: hidden;
    float: inherit;
}

.registroFotoPequena img{
    width: 100%;
    height: 30px;
    overflow: hidden;
}

.registroTexto{
    width: auto;
    vertical-align:middle;
    padding-left: 10px;
    float: inherit;
}

.registroTexto a{
    text-decoration: none;
    color: black;
}

.botonesinferiores{
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.textoGrande{
    width: inherit;
    
}
.tablaHeader{
    width: 95%;
    margin: 2%;
}
#null{
    width: 16.5%;
}

#originalmessage{
    width: 100%;
    padding: 10px;
    margin: 0px;
    border-bottom: 2px solid #3f51b5;
}

#originalmessBottom{
    width: 100%;
    padding: 0px;
    margin: 0px;
    padding: 10px;
}

.sendtext{
    width: 100%;
    float: left;
    border-spacing: 0px;
    background-color: white;
}

.sendtext input{
    font-size: 1.17em;
}

.sendbutton{
    width: auto;
    text-align: right;
    border-spacing: 0px;
}

form{
    margin-bottom: 0px;
}

.ui-input-text{
    margin:0px;
}

.whitefont{
    color: white;
}


#datosuser{
    margin-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #3f51b5;
}

#datosuser img{
    width: 6em;
}
.buttonConfig{
    border-bottom: 1px solid #3f51b5;
}