@font-face {
    font-family: 'roboto_condensedbold';
    src: url('/sweethomesw/fonts/RobotoCondensed-Bold-webfont.eot');
    src: url('/sweethomesw/fonts/RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sweethomesw/fonts/RobotoCondensed-Bold-webfont.woff2') format('woff2'),
         url('/sweethomesw/fonts/RobotoCondensed-Bold-webfont.woff') format('woff'),
         url('/sweethomesw/fonts/RobotoCondensed-Bold-webfont.ttf') format('truetype'),
         url('/sweethomesw/fonts/RobotoCondensed-Bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedbold_italic';
    src: url('/sweethomesw/fonts/RobotoCondensed-BoldItalic-webfont.eot');
    src: url('/sweethomesw/fonts/RobotoCondensed-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sweethomesw/fonts/RobotoCondensed-BoldItalic-webfont.woff2') format('woff2'),
         url('/sweethomesw/fonts/RobotoCondensed-BoldItalic-webfont.woff') format('woff'),
         url('/sweethomesw/fonts/RobotoCondensed-BoldItalic-webfont.ttf') format('truetype'),
         url('/sweethomesw/fonts/RobotoCondensed-BoldItalic-webfont.svg#roboto_condensedbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condenseditalic';
    src: url('/sweethomesw/fonts/RobotoCondensed-Italic-webfont.eot');
    src: url('/sweethomesw/fonts/RobotoCondensed-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sweethomesw/fonts//sweethomesw/fonts/RobotoCondensed-Italic-webfont.woff2') format('woff2'),
         url('/sweethomesw/fonts/RobotoCondensed-Italic-webfont.woff') format('woff'),
         url('/sweethomesw/fonts/RobotoCondensed-Italic-webfont.ttf') format('truetype'),
         url('/sweethomesw/fonts/RobotoCondensed-Italic-webfont.svg#roboto_condenseditalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedlight';
    src: url('/sweethomesw/fonts/RobotoCondensed-Light-webfont.eot');
    src: url('/sweethomesw/fonts/RobotoCondensed-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sweethomesw/fonts/RobotoCondensed-Light-webfont.woff2') format('woff2'),
         url('/sweethomesw/fonts/RobotoCondensed-Light-webfont.woff') format('woff'),
         url('/sweethomesw/fonts/RobotoCondensed-Light-webfont.ttf') format('truetype'),
         url('/sweethomesw/fonts/RobotoCondensed-Light-webfont.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedlight_italic';
    src: url('/sweethomesw/fonts/RobotoCondensed-LightItalic-webfont.eot');
    src: url('/sweethomesw/fonts/RobotoCondensed-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sweethomesw/fonts/RobotoCondensed-LightItalic-webfont.woff2') format('woff2'),
         url('/sweethomesw/fonts/RobotoCondensed-LightItalic-webfont.woff') format('woff'),
         url('/sweethomesw/fonts/RobotoCondensed-LightItalic-webfont.ttf') format('truetype'),
         url('/sweethomesw/fonts/RobotoCondensed-LightItalic-webfont.svg#roboto_condensedlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedregular';
    src: url('/sweethomesw/fonts/RobotoCondensed-Regular-webfont.eot');
    src: url('/sweethomesw/fonts/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sweethomesw/fonts/RobotoCondensed-Regular-webfont.woff2') format('woff2'),
         url('/sweethomesw/fonts/RobotoCondensed-Regular-webfont.woff') format('woff'),
         url('/sweethomesw/fonts/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
         url('/sweethomesw/fonts/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* PARTES */

body{
    background-color: #c5cae9;
    font-family: 'roboto_condensedlight';
    font-size: 1.17em;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

header{
    padding: 5px;
    margin: 0px;
    width: 100%;
    background-color: #3f51b5;
}

footer{
    padding: 0px;
    margin: 0px;
    
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}
/* TAGS GENÉRICOS */

h1{
    padding: 0px;
    margin: 0px;
    font-family: 'roboto_condensedlight';
}

h2{
    padding: 0px;
    margin: 0px;
    font-family: 'roboto_condensedlight';   
}

h3{
    padding: 0px;
    margin: 0px;
    font-family: 'roboto_condensedlight';
}

h4{
    padding: 0px;
    margin: 0px;
    font-family: 'roboto_condensedlight';
}

button{
    margin: 0px;
    padding: 0px;
}

input{
    margin: 0px;
    padding: 0px;
    font-size: 1.17em;
}

table{
    width: 100%;
    border-spacing: 0px;  
}

/* COMBINACIONES DE TAGS */

header h1{
    color: white;
    font-weight: bold;
    font-size: 2em;
}

/* IDS */

#logoHeader{
    margin-left: 5px;
    text-align: center;
    float: left;
}

.logoInicio{
    text-align: center;
    height: 25%;
}


#logoLogIn{
    margin-left: 5px;
    width: 100%;
    text-align: center;
}

#fotoHeader{
    width: 50px;
    text-align: center;
    float: right;
    background-color: white;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 10px;
    height: 50px;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    overflow: hidden;
}

#fotousuario{
    height: 100%;
    overflow: hidden;
}

#elevated{
    font-size: 15px;
    vertical-align:super;
}

#elevatedreducido{
    font-size: 10px;
    vertical-align:super;
}

#menuinf{
    width: 100%;
    background-color: #3f51b5;
    margin: 0px;
    padding: 5px;
}

#menuinf td{
    text-align: center;
}

#content{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}


#contentInput{
    padding: 3em;
    margin: 0px;
    
    height: auto;
    vertical-align: middle;
}

#contentInput input{
    background-color: white;
}

.submitbutton button{
    background-color: #d50000;
    border: none;
    margin-top: 1em;
    color: white;
}

#buttonBottom{
    width: inherit;
    border-spacing: 0px;
}

#buttonBottom button{
    width: inherit;
    margin: 0px;
    border: none;
}

#addButton{
    width: inherit;
}

#addButton button{
    width: inherit;
}

/* CLASES */

.buttonNormal{
    background-color: #C5CAE9;
    border: none;
    color: white;
    width: 100%;    /* Necesario... Encerrar en un div para limitar tamaños */
}

.buttonAction{
    background-color: #d50000;
    border: none;
    color: white;
    width: 100%;    /* Necesario... Encerrar en un div para limitar tamaños */
}

.buttonDarkBlue{
    background-color: #3F51B5;
    color: white;
    border: 0px;
}

.buttonDarkBlue a{
    color: white;
}

.menubutton{
    max-width: 35px;
}

.menulogin{
    max-width: 50px;
    width: 100%;
}

/*Data input: label + cuadro de entrada*/
.dataInput{
    color: black;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
}

.dataInput textarea{
    font-size: 1.17em;
    font-family: 'roboto_condensedregular';
}

.dataInput input[type="text"]{
    font-size: 1.17em;
    font-family: 'roboto_condensedregular';
    background-color: white;
}

.dataInput input[type="password"]{
    background-color: white;
}

.registro{
    width: 100%;
    margin: 0px;
    padding: 0px;
    float: left;
}

.rowBordered{
    width: 100%;
    margin: 0px;
    padding: 5px;
    float: left;
    border-bottom: 2px solid #3f51b5;
}

.rowPhoto{
    width: 50px;
    text-align: center;
    background-color: white;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 10px;
    height: 50px;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    overflow: hidden;
}

.rowPhoto img{
    height: 100%;
    overflow: hidden;
}

.rowPhotoSmall{
    width: 30px;
    text-align: center;
    /*background-color: white;*/
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 10px;
    height: 30px;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    overflow: hidden;
}

.rowPhotoSmall img{
    width: 100%;
    height: 30px;
    overflow: hidden;
}

.rowText{
    width: auto;
    vertical-align:middle;
    padding-left: 15px;
    padding-right: 15px;
}

.rowText a{
    text-decoration: none;
    color: black;
}

.rowIcon{
    width: 10%;
}

.contentBottom{
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.botoneInferiorIzda{
    float:left;
    width: 50%;
    background:#FF5252;
    text-align: center;
}

.botoneInferiorDcha{
    float: right;
    width: 50%;
    background:#d50000;
    text-align: center;
}

.textoGrande{
    width: inherit;
    
}
.tablaHeader{
    width: 95%;
    margin: 2%;
}

#backHeader{
    width: 16.5%;
}

#infoHeader{
    width: 16.5%;
}

#originalmessage{
    width: 100%;
    padding: 10px;
    margin: 0px;
    border-bottom: 2px solid #3f51b5;
}

.aboutLine{
    width: 100%;
    margin: 10%;
    padding: 0px;
    height: 100%;
    color: #3f51b5;
}

.aboutText{
    width: 85%;
    margin: 10%;
    padding: 0px;
    height: 100%;
    color: #3f51b5;
    font-size: 15px; 
}


#originalmessBottom{
    width: 100%;
    padding: 0px;
    margin: 0px;
    padding: 10px;
}

.sendtext{
    width: 100%;
    float: left;
    border-spacing: 0px;
    background-color: white;
}

.sendtext input{
    font-size: 1.17em;
}

.sendbutton{
    width: auto;
    text-align: right;
    border-spacing: 0px;
}

form{
    margin-bottom: 0px;
}

.whitefont{
    color: white;
}


#userData{
    margin-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #3f51b5;
}

#userData img{
    width: 6em;
}

.photoInput button{
    background-color: #c5cae9;
    border: none;
}

.photoInput img{
    width: 6em;
    height: 6em;
    overflow: hidden;
}

.expenseMenu{
    border-bottom: 1px solid #3f51b5;
}

.expenseMenu ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    height: 0px;
    margin: 0;
    border-bottom: 2px solid #3f51b5;

    /*Animacion menu*/
    -webkit-transition: height 0.5s ease;
       -moz-transition: height 0.5s ease;
         -o-transition: height 0.5s ease;
        -ms-transition: height 0.5s ease;
            transition: height 0.5s ease; 
}

.expenseMenu:hover ul {
    height: 232px;
}

.expenseMenu li{
    padding: 2px;
}

.expenseMenu li img{
    vertical-align: middle;
}

.expenseButton{
    background-color: #c5cae9;
    border: 0px;
}

.expenseButton a{
    color: black;
}

.configMenu input[type="text"], .configMenu input[type="password"]{
    background-color: white;
}

.configMenu ul {
    list-style-type: none;
    overflow: hidden;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2px;
    height: 0px;
    margin: 0;

    /*Animacion menu*/
    -webkit-transition: height 0.5s ease;
       -moz-transition: height 0.5s ease;
         -o-transition: height 0.5s ease;
        -ms-transition: height 0.5s ease;
            transition: height 0.5s ease; 
}

#taskConfig:hover ul{
    height: 114px;
}

.configMenu:hover ul {
    height: 255px;
}

.configMenu li img{
    vertical-align: middle;
}

.buttonActionAdd{
    background-color: #FF5252;
    border: none;
    color: white;
    width: 100%;
}

.buttontrash{
    max-width: 35px;
    margin-right: 20px;
}