/* TAGS */

body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

footer{
    padding: 0px;
    margin: 0px;
    width: 100%;
}

form{
    margin-bottom: 0px;
}

header{
    padding: 5px;
    margin: 0px;
    width: 100%;
}

/* IDS */

#backHeader{
    width: 16.5%;
}

#buttonBottom{
    width: inherit;
    border-spacing: 0px;
}

#contentBottom{
    bottom:41px;
}

#fotoHeader{
    width: 16%; 
    padding-right: 10px;
}

#infoHeader{
    width: 16%; 
    padding-right: 10px;
}

#logoHeader{
    width: 68%;
}

#logoHeader100{
    width: 100%;
}

#menuinf{
    width: 100%;
    margin: 0px;
    padding: 2px;
}

/* CLASES */

.indicator{
    padding: 5px;
    margin: 0px;
    width: 100%;
}

.tableHeader{
    width: 100%;
    margin: 0px;
}

.tableHeader td{
    padding: 5px;
}

/* MÓVIL */
@media screen and (max-width: 700px){
    
    #content{    
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;    
    }
    
    #contentBottom{
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    
    #contentBottomLeft{
        float:left;
        width: 50%;
    }

    #contentBottomRight{
        float: right;
        width: 50%;
    }
    
    #contentConfig{
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
    }
    
    #contentInput{
        padding: 1em 2em 2em;
        margin: 0px;
        height: auto;
    }
    
}

/*TABLET Y PC*/
@media screen and (min-width: 700px){
    
    #content{
        max-width: 350px;
        padding: 1em 2em 2em;
        margin: 0px auto;
        height: auto;
    }
    
    #contentBottom{
        width: 350px;
        padding: 0px;
        margin: 0px auto;
        padding-bottom: 10px;
    }

    #contentBottomLeft{
        float:left;
        width: 50%;
    }

    #contentBottomRight{
        float: right;
        width: 50%;
    }
    
    #contentConfig{
        padding: 1em 2em 2em;
        margin: 0px auto;
        max-width: 350px;
        height: auto;
    }
    
    #contentInput{
        padding: 1em 2em 2em;
        margin: 0px auto;
        max-width: 350px;
        height: auto;
    }
    
}

/* PC */
@media screen and (min-width: 998px){
    
	body{
		background-image: url("/sweethomesw/img/bg.png");
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
        background-attachment: fixed;
        height: 90%;
	}
    
    #content{
        background-color: rgba(197, 202, 233, 0.85);
        min-height: inherit;
        padding-bottom: auto;
    }
    
    #contentInput{
        background-color: rgba(197, 202, 233, 0.85);
        min-height: inherit;
        padding-bottom: auto;
    }
    
    #contentConfig{
        background-color: rgba(197, 202, 233, 0.85);
        min-height: inherit;
        padding-bottom: auto;
    }
}