/* TAGS */

body{
    background-color: #c5cae9;
    font-family: 'roboto_condensedlight';
    font-size: 1.17em;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

footer{
    padding: 0px;
    margin: 0px;
    
    width: 100%;
}

form{
    margin-bottom: 0px;
}

header{
    padding: 5px;
    margin: 0px;
    width: 100%;
    background-color: #3f51b5;
}

/* IDS */

#backHeader{
    width: 16.5%;
}

#buttonBottom{
    width: inherit;
    border-spacing: 0px;
}

#content{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

#contentBottom{
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#contentBottomLeft{
    float:left;
    width: 50%;
    background:#FF5252;
    text-align: center;
}

#contentBottomRight{
    float: right;
    width: 50%;
    background:#d50000;
    text-align: center;
}

#contentInput{
    padding: 1em 2em 2em;
    margin: 0px;
    height: auto;
    vertical-align: middle;
}

#fotoHeader{
    width: 16.5%;
    text-align: right;
}

#infoHeader{
    width: 16.5%;
    text-align: right;
}

#logoHeader{
    margin-left: 5px;
    width: 67%;
    text-align: center;
}

#logoHeader100{
    margin-left: 5px;
    width: 100%;
    text-align: center;
}

#menuinf{
    width: 100%;
    background-color: #3f51b5;
    margin: 0px;
    padding: 0px;
}

/* CLASES */

.indicator{
    padding: 5px;
    margin: 0px;
    width: 100%;
    background-color: #7986CB;
    text-align: center;
    color: white;
}

.tableHeader{
    width: 95%;
    margin: 2%;
}